/* style.css
 * This file provides css styles.
 */
@font-face {
    font-family: 'Makinas-Scrap-5';
    src: url('../fonts/Makinas-Scrap-5.otf') format('opentype');
}

body,html {
	/*background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
	*/
	background: url(../images/background.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #ffffff;
    font-family:Makinas-Scrap-5;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

/* --- ナビゲーションバー --- */
div.nav {
	float:left;
	margin: 0 auto;
	height:100%;
	display: table;
	vertical-align: middle;
}
div.in-nav {
	display: table-cell;
	vertical-align: middle;
}


/* --- メニューエリア --- */
div.nav ul.nl {
	list-style-type: none;

}

/* --- メニュー項目 --- */
div.nav ul.nl li {
	margin-top:10px;
}

/* --- リンク --- */
div.nav ul.nl li a {
	display: block;
	position: relative; /* IE6用 */
	padding: 12px 10px; /* リンクエリアのパディング（上下、左右） */
	text-decoration: none; /* テキストの下線（なし） */
}
/* --- ポイント時の設定 --- */
div.nav ul.nl li a:hover {
text-decoration: underline; /* テキストの下線（あり） */
}

.contents {
	float:left;
	height:100%;
	display: table;
	vertical-align: middle;
}
.in-contents {
	display: table-cell;
	vertical-align: middle;
}

.span {
	float:left;
	height:100%;
	display: table;
	vertical-align: middle;
	width:15%;
}
.in-span {
	display: table-cell;
	vertical-align: middle;
}

.btn {
	height: 75px;
	width: 200px;
	background: url(../images/button1.png) no-repeat center center;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	cursor:pointer;
	color:#70ffff;
	font-size:1.3em;
}
.btn:hover {
  letter-spacing: 2px;
}
.box {
	height: 460px;
	width: 800px;
	background: url(../images/box.svg) no-repeat;
	background-size: 100%;
}
.input-box {
	height: 200px;
	width: 800px;
	background: url(../images/input.svg) no-repeat;
	background-size: 100%;
}
.input-area {
	width: 720px;
	height: 376px;
	left: 43px;
	top:39px;
    position: relative;
    overflow:auto;
}
.input-val-left {
	float:left;
	width: 349px;
	margin-bottom:5px;
	pointer-events:none;
}
.input-val-right {
	float:right;
	width: 349px;
	margin-bottom:5px;
}
.clip {
	color :transparent;
}

.title {
	font-size:1.8em;
}

.textarea {
	resize: none;
	width: 720px;
	height: 100px;
	margin-top:30px;
	margin-left:40px;
	font-size:1.3em;
	font-family:Makinas-Scrap-5;
	background-color:transparent;
	color: #ffffff;
	outline: 0;
  	border: none;
  	overflow:hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
  background-color: #70ffff;
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

